{
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"useTabs": true,
	"tabsWidth": 4,
	"singleQuote": false,
	"semi": false,
	"trailingComma": "none",
	"bracketSpacing" : true,
	"bracketSameLine" : true
}
