@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

:root {
	@font-face {
		font-family: "ArcadeClassic";
		font-style: normal;
		font-weight: 400;
		src: url(../static/arcadeclassic.regular.ttf) format("truetype");
	}
}
